<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\path\to\python.exe|C:\path\to\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <fastCgi>
            <application fullPath="C:\Users\Administrator\AppData\Local\Programs\Python\Python313\python.exe" arguments="C:\Users\Administrator\AppData\Local\Programs\Python\Python313\Scripts\wfastcgi.exe" maxInstances="1" idleTimeout="300" activityTimeout="30" requestTimeout="300" />
        </fastCgi>
    </system.webServer>
</configuration>
